.members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.member:hover,
.member:focus {
  text-decoration: none;
}

.member__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.member__image {
  width: 8rem;
  aspect-ratio: 1;
  border-radius: 99999px;
  box-shadow: var(--ifm-shadow-base);
  transition: box-shadow 0.2s ease-out;
  background-color: var(--ifm-color-white);
}

.member:hover .member__image,
.member:focus .member__image {
  box-shadow: var(--ifm-shadow-lg);
}

.member:hover .member__name,
.member:focus .member__name {
  text-decoration: underline;
}

.member__name {
}

.member__title {
  color: var(--ifm-color-emphasis-700);
  font-size: small;
}
