/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary-lightest: #7cdf7c;
  --ifm-color-primary-lighter: #57d657;
  --ifm-color-primary-light: #32cd32;
  --ifm-color-primary: #28a428;
  --ifm-color-primary-dark: #1e7b1e;
  --ifm-color-primary-darker: #145214;
  --ifm-color-primary-darkest: #0a290a;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* box-shadows */
  --ifm-shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --ifm-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --ifm-shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --ifm-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --ifm-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --ifm-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --ifm-shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --ifm-shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
  --ifm-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

  --ifm-code-background: #e2f8e2;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-primary-lightest: #a1e8a1;
  --ifm-color-primary-lighter: #7cdf7c;
  --ifm-color-primary-light: #57d657;
  --ifm-color-primary: #32cd32;
  --ifm-color-primary-dark: #28a428;
  --ifm-color-primary-darker: #1e7b1e;
  --ifm-color-primary-darkest: #145214;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-code-background: #104210;
}
